---
pages:
  - name: What We Do
    loc:  /what_we_do.html
  - name: Our Work
    loc:  /our_work.html
  - name: Blog
    loc:  /blog.html
  - name: About Us
    loc:  /about.html
  - name: Contact
    loc:  /contact.html
---
/ NB: Partial frontmatter accessed differently than that in normal pages
%footer.row
  .large-12.columns
    %hr
      .row
        .large-6.columns
          %p © Steven H. Allen & Co.
        .large-6.small-12.columns
          %ul.inline-list.right
            - pages.each do |page|
              %li
                %a{href: page['loc']} #{page['name']}

:javascript
  document.write('<script src=js/vendor/' +
    ('__proto__' in {} ? 'zepto' : 'jquery') +
    '.js><\/script>')
%script{:src => "js/foundation.min.js"}
