%footer.row
  .large-12.columns
    %hr
      .row
        .large-6.columns
          %p © Steven H. Allen & Co.
        .large-6.small-12.columns
          %ul.inline-list.right
            %li
              %a{:href => "/our_work.html"} Our Work
            %li
              %a{:href => "/blog.html"} Blog
            %li
              %a{:href => "/about.html"} About Us
            %li
              %a{:href => "/contact.html"} Contact

:javascript
  document.write('<script src=js/vendor/' +
    ('__proto__' in {} ? 'zepto' : 'jquery') +
    '.js><\/script>')
%script{:src => "js/foundation.min.js"}
