---
sites:
  - name: Twitter
    loc:  http://twitter.com/stevenhallen
  - name: LinkedIn
    loc:  http://www.linkedin.com/company/steven-h-allen-&-co-
  - name: Github
    loc:  http://github.com/stevenhallen
pages:
  - name: What We Do
    loc:  /what_we_do.html
  - name: Our Work
    loc:  /our_work.html
  - name: Blog
    loc:  /blog.html
  - name: About Us
    loc:  /about.html
  - name: Jobs
    loc:  /jobs.html
  - name: Contact
    loc:  /contact.html
---
/ NB: Partial frontmatter accessed differently than that in normal pages
/ Navigation
%header
  %nav.top-bar{"data-topbar" => ""}
    / Title Area
    %ul.title-area
      %li.name
        %h1
          %a{:href => "/"}
            Steven H. Allen & Co.
      %li.toggle-topbar.menu-icon
        %a{href: '#'}
          %span menu
    / Twitter, LinkedIn, Github, etc
    %section.top-bar-section
      %ul.left
        - sites.each do |site|
          %li= link_to site['name'], site['loc']
    / Right Nav Section
    %section.top-bar-section
      %ul.right
        - pages.each do |page|
          %li.divider
          %li= link_to page['name'], page['loc']
