---
pages:
  - name: What We Do
    loc:  /what_we_do.html
  - name: Our Work
    loc:  /our_work.html
  - name: Blog
    loc:  /blog.html
  - name: About Us
    loc:  /about.html
  - name: Contact
    loc:  /contact.html
---
/ NB: Partial frontmatter accessed differently than that in normal pages
/ Navigation
%header
  %nav.top-bar{"data-topbar" => ""}
    / Title Area
    %ul.title-area
      %li.name
        %h1
          %a{:href => "/"}
            Steven H. Allen & Co.
      %li.toggle-topbar.menu-icon
        %a{href: '#'}
          %span menu
    / Github Button
    %section
      %ul.left
        %span.icon
        %a.btn.btn-github{href: 'https://github.com/stevenhallen'} View on Github
    / Right Nav Section
    %section.top-bar-section
      %ul.right
        - pages.each do |page|
          %li.divider
          %li= link_to page['name'], page['loc']
