---
title: "Steven H. Allen by stevenhallen"
---
.row
  .large-12.columns
    / Content Slider
    .row
      .large-12.hide-for-small
        #featured{"data-orbit" => ""}
          %img{:alt => "slide image", :src => "http://placehold.it/1200x500&text=Slide Image 1"}/
          %img{:alt => "slide image", :src => "http://placehold.it/1200x500&text=Slide Image 2"}/
          %img{:alt => "slide image", :src => "http://placehold.it/1200x500&text=Slide Image 3"}/
    / End Content Slider
    / Mobile Header
    .row
      .large-12.columns.show-for-small
        %img{:src => "http://placehold.it/1200x700&text=Mobile Header"}/
    %br/
    / End Mobile Header
    .row
      .large-12.columns
        .row
          / Feed
          .large-12.small-12.columns
            %h4 Blog
            %hr/
            .panel
              %h5
                %a{:href => "#"} Post Title 1
              %h6.subheader
                Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Suspendisse ultrices ornare tempor...
              %h6
                %a{:href => "#"} Read More »
            .panel.hide-for-small
              %h5
                %a{:href => "#"} Post Title 2 »
            .panel.hide-for-small
              %h5
                %a{:href => "#"} Post Title 3 »
            %a.right{:href => "#"} Go To Blog »
          / End Feed
    / End Content
