.row
  .small-12.columns.small-centered
    %h2 Jobs
.row
  .small-12.columns
    %p
      SHA is looking for talented students to work in part-time positions.  If you have experience with javascript and ruby or python, that is a plus.  If not, don't worry.
    %p
      Mostly, we are looking for smart, energetic people who want to take the next step in a career as a software developer.  You'll pair program with the founders and be part of a team producing great web and mobile applications.
    %p
      We pay based on experience. Starting rates are usually at least $20/hour.
    %p
      If interested, send Philip an email #{link_to 'philip@stevenhallen.com', 'mailto:philip@stevenhallen.com'}
