.row
  .small-12.columns.centered
    %h2 Our Work
.row
  .small-4.columns
    = link_to(image_tag('chirpy.png'), 'http://chirrpy.com/')
  .small-4.columns
    = link_to(image_tag('zozi.png'), 'http://zozi.com/')
  .small-4.columns
    = link_to(image_tag('murfie.png'), 'http://murfie.com')
.row
  .small-8.columns
    %p
      We're just getting started, but have already created some great software for some great companies.
      We've run our own web startups and are focused on being a strategic partner with our clients. We are not an outsourcing firm but work to help your team become world class and self-sufficient.
  .small-4.columns
    %h4 Starting a project?
    Please #{link_to 'contact us', '/contact.html'} and let's get started.
