.row
  .small-12.columns.centered
    %h2 What we do

.row
  .small-12.columns
    %p
      We build great software primarily using Ruby and the Ruby on Rails framework. Our main focus is on building APIs and integrating them with the world's best APIs.
    %p
      We work with teams utilizing modern best practices such as short iterations, so you're never left wondering about the value of your investment.
    %p
      We've run our own web based businesses and are focused on being a strategic partner with our clients. This experience running our own startups gives us the judgement to know when to adhere to formal test-driven practices, and when speed calls for a more nimble process to help you achieve your business goals.

